<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ukdw.com.prototypeprogmob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditDosen"></activity>
        <activity android:name=".CreateMhs" />
        <activity android:name=".CreateMatkul" />
        <activity android:name=".CreateKrs" />
        <activity android:name=".CreateDosen" />
        <activity android:name=".RecyclerViewDaftarMhs" />
        <activity android:name=".RecyclerViewDaftarMatkul" />
        <activity android:name=".RecyclerViewDaftarKrs" />
        <activity android:name=".RecyclerViewDaftarDosen" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".HomeScreenAdmin" />
        <activity android:name=".HomeScreenMahasiswa" />
        <activity android:name=".InsertUpdateDataMatkul" />
        <activity android:name=".LihatDataDosen" />
        <activity android:name=".LihatDataKelas" />
        <activity android:name=".LihatDataKrs" />
        <activity android:name=".LihatDataMatkul" />
        <activity android:name=".LihatDataMhsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>